body {
    background:#fff;
    font-size:62.5%;
    font-family:"Microsoft YaHei",Arial;
    overflow-x:hidden;
    overflow-y:auto;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
ul,li {
    list-style:none inside none;
    /*list-style-type:none;*/
}

@font-face {
    font-family: myGongFang;
    src:url('../fonts/造字工房品宋(非商用)常规体.otf');
}
@font-face {
    font-family: myAxureHand;
    src:url('../fonts/AxureHandwriting.otf');
}
@font-face {
    font-family: myXingYu;
    src:url('../fonts/汉仪星宇体简.ttf');
}
@font-face {
    font-family: myXiXiu;
    src:url('../fonts/汉仪细秀体简.ttf');
}

.viewport {
    max-width:640px;
    min-width:300px;
    margin:0 auto;
}

.top {
    width:100%;
    height:50px;
    background:#960202;
}
.logo {
    width:15%;
    float:left;
    padding:7px 0 7px 15px;
}
.logo img {
    width:35px;
    height:35px;
}
.search {
    width:85%;
    height:50px;
    font-size:1.2rem;
    float:right;
    padding:10px 0;
}
.search_input {
    width:83%;
}
.search_text {
    width:89%;
    height:30px;
    line-height:30px;
    background:#fff;
    border:none;
    border-radius:25px;
    padding-left:15px;
    margin:0 15px;
}
.search .search_submit {
    background:url(../images/serach.png) no-repeat;
    background-size:100%;
    border:none;
    width:35px;
    height:28px;
    padding:0 15px 0 0;
}

/*so--搜索*/
.so {
    width:80%;
    height:5rem;
    line-height:5rem;
    margin:2rem 10%;
    border:1px solid #960202;
    border-radius:5px;
}
.so .so-input-label {
    width:80%;
    height:4rem;
    margin-bottom:0.5rem;
    border-right:1px solid #960202;
    position: relative;
    top:-0.25rem;
}
.so .so-input {
    width:100%;
    height:4rem;
    line-height:4rem;
    font-size:1.2rem;
    color:#4b4b4b;
    padding-left:1rem;
    border:none;
    position: relative;
    top:-0.6rem;
}
.so .so-submit-label {
    width:15%;
    height:4rem;
    margin-top:0.5rem;
    margin-left:2.5%;
}
.so .so-submit {
    width:100%;
    height:4rem;
    background:url(../images/serach-red.png) no-repeat;
    background-size:100% 100%;
    border:none;
}

.footer{
    width:100%;
    height:5.5rem;
    font-size:1.2rem;
    border-top:1px solid #dcdcdc;
    background:#fff;
    position:fixed;
    bottom:0;
    left:0;
    z-index:999;
}
.footer ul{
    width:110%;
    position:relative;
    left:-3.3rem;
}
.footer ul li{
    position:relative;
    width:25%;
    float:left;
    text-align:center;
    background:#fff;
}
.footer ul li a {


}
.footer ul li img{
    width:2rem;
    height:2rem;
    margin-top:0.7rem;
    /*display:block;
    margin-left:3.1rem;*/
}
.footer ul li p{
    font-size:1.2rem;
    color:#999;
    padding:0.3rem 0;
}
.footer ul li.active p {
    color:#960202;
}



/*block-goods--块状产品列表*/
.block-goods{
    width:47%;
    /*height: 27.2rem;*/
    border:1px solid #dcdcdc;
    border-radius:5px;
    margin-left:2%;
    margin-bottom:1rem;
    padding:0.5rem;
    position: relative;
    float:left;
}
.block-goods .goods-thumbnail {
    display:block;
}
.block-goods img{
    width:100%;
}
.block-goods .goods-title {
    padding:0.7rem 0;
    border-bottom:1px dashed #ccc;
}
.block-goods .goods-title img {
    width:1.2rem;
    height:1.2rem;
}
.block-goods .goods-title a {
    color:#4b4b4b;
}
.block-goods .goods-title span {
    font-size:1.2rem;
    padding:0 0.5rem;
}
.block-goods .goods-price {
    padding:0.5rem 0;
}
.block-goods .goods-price a {

    display:block;
}
.block-goods .goods-price .price-before {
    font-size:1.2rem;
    color:#960202;
}
.block-goods .goods-price .price-after {
    font-size:1rem;
    color:#dcdcdc;
    text-decoration:line-through;
    float:right;
    padding-top:0.2rem;
}
.block-goods .goods-price .price-vou {
    width:100%;
    height:2.8rem;
    font-size:1.5rem;
    font-family:'myGongFang';
    border:1px solid #960202;
    border-radius:5px;
    margin-top:0.3rem;
}
.block-goods .goods-price .price-vou .vou-title {
    width:49%;
    height:2.7rem;
    line-height:2.7rem;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:5px;
    background:#960202;
    float:left;
}
.block-goods .goods-price .price-vou .vou-title a{
    text-align:center;
    letter-spacing:1rem;
    color:#fff;
}
.block-goods .goods-price .price-vou .vou-num {
    width:49%;
    height:2.7rem;
    line-height:2.7rem;
    text-align:center;
    float:left;
}
.block-goods .goods-price .price-vou .vou-num a {
    color:#960202;
}



@media only screen and (min-width: 768px) {
    .block-goods{
        width:10%;
    }
}
@media only screen and (min-width: 992px) {
    .block-goods{
        width:10%;
    }
}
@media only screen and (min-width: 1200px) {
    .block-goods{
        width:10%;
    }
}
