

<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header>
                        <i class="fa fa-fw fa-file"></i>修改反馈信息
                        <a href="#/talking/talkList"><i class="fa fa-fw fa-arrow-left" style="float:right;margin:10px 30px 0 0"></i></a>
                    </header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="/admin/talking/talkUpdate" data-sendingText="正在为您积极努力的去提交信息。。。" data-validate="validate">
                                        <input type="hidden"  value="{$getOne.id}" name="id">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">用户</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="用户" value="{$getOne.uid}" readonly>
                                            </div>
                                            <p class="col-sm-4 help-block"></p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">反馈内容</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" readonly style="height:150px;resize: none;">{$getOne.content}</textarea>
                                            </div>
                                            <p class="col-sm-4 help-block"></p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">反馈内容</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" id="editor" name="reply" style="height:150px;resize: none;">{$getOne.reply}</textarea>
                                            </div>
                                            <p class="col-sm-4 help-block"></p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">创建时间</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="创建时间" value="{$getOne.create_time}" readonly>
                                            </div>
                                            <p class="col-sm-4 help-block"></p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>


<script>
    /*数据验证JS脚本*/
    function callback1(returnData, $from) {
        console.log($from);
    }
    function validate($from) {
        var reply = $from.find('textarea[name="reply"]');

        if ($.trim(reply.val()) == '') {
            return '内容不能为空';
        }
        return true;
    }
</script>

