
<!--上传文件引入文件-->
<link rel="stylesheet" type="text/css" href="/static/plugin/aoupload/css/globle.css" />
<script src="/static/plugin/aoupload/js/webuploader.min.js"></script>
<script src="/static/plugin/aoupload/js/diyUpload.js"></script>

<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header>
                        <i class="fa fa-fw fa-file"></i>修改导航
                        <a href="#/nav/navList"><i class="fa fa-fw fa-arrow-left" style="float:right;margin:10px 30px 0 0"></i></a>
                    </header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="/admin/nav/navUpdate" data-sendingText="正在为您积极努力的去提交信息。。。" data-validate="validate">
                                        <input type="hidden"  name="id"  value="{$getOne.id}">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">导航标题</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="导航标题" name="title" required="required" value="{$getOne.title}">
                                            </div>
                                            <p class="col-sm-4 help-block">*</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">一级分类</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="一级分类" name="key" required="required" value="{$getOne.key}">
                                            </div>
                                            <p class="col-sm-4 help-block">*</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">导航排序</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" placeholder="数字越大越靠前（1-100）" name="sort" value="{$getOne.sort}">
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">导航状态</label>
                                            <div class="col-sm-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="state" value="1" {$getOne.state=="启用"?="checked"} /> 启用
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="state" value="0" {$getOne.state=="关闭"?="checked"}/> 关闭
                                                    </label>
                                                </div>

                                            </div>
                                            <p class="col-sm-4 help-block"></p>
                                        </div>
                                        <hr/>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">导航图片</label>
                                            <div class="col-sm-6">
                                                <div style="text-align:center;">
                                                    <ul class="upload-ul clearfix">
                                                        <li class="" id="fileBox_WU_FILE">
                                                            <div class="viewThumb">
                                                                <input type="hidden" name="img" id="img_id" value="{$getOne.img}">
                                                                <div class="diyBar" style="display: none;">
                                                                    <div class="diyProgress" style="width: 100%;">上传完成</div>
                                                                </div>
                                                                <img src="{$getOne.img}">
                                                            </div>
                                                        </li>
                                                        <li class="upload-pick">
                                                            <div class="webuploader-container clearfix" id="imgUpload"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="col-sm-4 help-block">尺寸：200*200</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>



<!--图片上传JS脚本-->
<script>
    //上传图片
    var $tgaUpload = $('#imgUpload').diyUpload({
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:50,
            height:50,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/admin/file_upload/uploader',
        //最大上传的文件数量
        fileNumLimit:1,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'img',
            //input加入ID，只适用于单个上传图片
            inputId:'img_id'
        },
        success:function( data ) {
            $("#fileBox_WU_FILE").remove();
        },
        error:function( err ) { }
    });

</script>


<script>
    /*数据验证JS脚本*/
    function callback1(returnData, $from) {
        /*console.log($from);*/
    }
    function validate($from) {
        var title = $from.find('input[name="title"]');
        var img = $from.find('input[name="img"]');
        var key = $from.find('input[name="key"]');
        var sort = $from.find('input[name="sort"]');
        var state = $from.find('input[name="state"]');
        if ($.trim(title.val()) == '' || $.trim(title.val()).length > 6) {
            return '导航标题不能为空且长度不得大于6个字';
        }

        if ($.trim(img.val()) == '') {
            return '导航图不能为空';
        }

        if ($.trim(key.val()) == '' || $.trim(key.val()).length > 10) {
            return '一级分类不能为空且长度不得大于10个字';
        }

        if ($.trim(sort.val()) == '') {
            return '导航排序不能为空';
        }

        if ($.trim(state.val()) == '') {
            return '导航状态不能为空';
        }

        return true;
    }
</script>

