    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />

    <!--筛选-->
    <div class="screen">
        <ul>
            <li class="screen_lists active " id="id">
                <a class="sort_list" title="desc">综合</a>
            </li>
            <li class="screen_lists" id="price-coupon_money">
                <a >价格</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <li class="screen_lists" id="coupon_money">
                <a >优惠</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <li class="screen_lists" id="sales">
                <a >销量</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <a href="" style="display: none" id="goodsSort"></a>
        </ul>
    </div>
    <script>
        $(".sort_list").on("click",function(){
            var id = $(this).parent().attr('id');
            var url = window.location.pathname;
            var type = $.getUrlParam('type');
            var sort = $(this).attr('title');

            $('#goodsSort').attr('href', url+'?type='+type+'&id='+id+'&sort='+sort);
            document.getElementById("goodsSort").click();
        });
    </script>

    <!--block-goods--块状产品列表-->
    <div class="block_goods_lists">

        {foreach name="List" item="l"}
            <div class="block-goods">
                <a href="/index/goods/goodsDetails?id={$l.goods_id}" class="goods-thumbnail"><img src="{$l.banner}"></a>
                <div class="goods-title">
                    <img src="{$l.type}">
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><span>{$l.name|mb_substr=0,19,'utf-8'}</span></a>
                </div>
                <div class="goods-price">
                    <span class="price-before">券价：￥{if condition="($l.price-$l.coupon_money)<0"}0{else /}{$l.price-$l.coupon_money}{/if}</span>
                    <span class="price-after">￥{$l.price}</span>
                    <div class="price-vou">
                        <div class="vou-title">
                            <a href="/index/goods/goodsDetails?id={$l.goods_id}">领券</a>
                        </div>
                        <div class="vou-num">
                            <a href="/index/goods/goodsDetails?id={$l.goods_id}">￥ {$l.coupon_money}</a>
                        </div>
                    </div>
                </div>
            </div>
        {/foreach}


    </div>


    <script>
        $(function() {
            $(".screen_lists").on("click",function() {
                $(this).addClass("active").siblings().removeClass("active");
            });
        });
    </script>





    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->