    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />

    <!--carry--产品详情页面-->
    <div class="details">
        <img src="{$getOne.banner}" alt="">
        <div class="details_info">
            <img src="{$getOne.type}" alt="">
            <span id="title">{$getOne.name|mb_substr=0,80,'utf-8'}</span>
            <div class="details_info_price">
                <p id="quan"><span>券价：</span>￥{$getOne.price-$getOne.coupon_money}</p>
                <p><span>原价：</span>￥{$getOne.price}</p>
                <p><span>销量：</span>{$getOne.sales}</p>
            </div>
            <div class="details_info_free">
                <img src="/static/index/images/free-post.png" alt="">
            </div>
        </div>

        <div class="details_vou">
            <div class="details_favour">
                <div class="details_favour_title">
                    <a href="{$getOne.coupon_extend}">领券</a>
                </div>
                <div class="details_favour_num">
                    <a href="{$getOne.coupon_extend}">￥ {$getOne.coupon_money}</a>
                </div>
            </div>
            <div class="details_bonus">
                <div class="details_bonus_title">
                    奖 金
                </div>
                <div class="details_bonus_num">
                    ￥ {$getOne.commission}
                </div>
            </div>
        </div>
        <div class="details_image">
            <i class="glyphicon glyphicon-send"></i>
            <a href="{$getOne.detail_url}">查看商品图文详情</a>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <div class="details_image_hidden">
            图文详情
        </div>

        <div class="details_recommend">

            <h2>看看还有什么</h2>

            {foreach name="Recommend" item="r"}
                <div class="block-goods">
                    <a href="/index/goods/goodsDetails?id={$r.goods_id}" class="goods-thumbnail"><img src="{$r.banner}"></a>
                    <div class="goods-title">
                        <img src="{$r.type}">
                        <a href="/index/goods/goodsDetails?id={$r.goods_id}"><span>{$r.name|mb_substr=0,19,'utf-8'}</span></a>
                    </div>
                    <div class="goods-price">
                        <span class="price-before">券价：￥{$r.price-$r.coupon_money}</span>
                        <span class="price-after">￥{$r.price}</span>
                        <div class="price-vou">
                            <div class="vou-title">
                                <a href="/index/goods/goodsDetails?id={$r.goods_id}">领券</a>
                            </div>
                            <div class="vou-num">
                                <a href="/index/goods/goodsDetails?id={$r.goods_id}">￥ {$r.coupon_money}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}

        </div>

        <!--<div class="cat_cont_hidden cat_comm">
            <p>打开折金券平台任意或指定产品详情页面，即可以页面中查看到在平台领取优惠券，并使用优惠券购物后所得到的平台奖励金金额</p>
            <img src="/static/index/images/push-bonus.jpg" alt="">
        </div>

        <div class="cat_tao_hidden cat_comm">
            <p>打开折金券平台任意或指定产品详情页面，即可以页面中查看到在平台领取优惠券，并使用优惠券购物后所得到的平台奖励金金额</p>
            <img src="/static/index/images/push-bonus.jpg" alt="">
        </div>-->

    </div>


    <script>
        var myCarry = $(".details_image_hidden");
        $(function() {
            $(".details_image").click(function(event) {
                // showDiv();//调用显示DIV方法
                $(myCarry).toggle();
                /*$(document).one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myCarry).hide();
                    });*/

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myCarry).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });
        function showDiv() {
            $(myCarry).fadeIn();
        }
    </script>

    <div class="details_footer">
        <ul>
            <li id="home"><a href="/"><img src="/static/index/images/home-active.png"/><span>首页</span></a></li>
            <li id="cont"><a href=""><img src="/static/index/images/message_bg.png"/><span>客服</span></a></li>
            <li id="von"><a href="{$getOne.coupon_extend}"><img src="/static/index/images/vounther.png"/><span>直接领券</span></a></li>
            <li id="tao"><a href="{$getOne.coupon_extend}"><img src="/static/index/images/t-code.png"/><span>淘口令领券</span></a></li>
        </ul>

    </div>




    <!--隐藏/显示客服模块-->
    <!--<script>
        var myCont = $(".cat_cont_hidden");
        $(function() {
            $("#cont").click(function(event) {
                // showDiv();//调用显示DIV方法
                $(myCont).toggle();
                //$(document).one("click",
                $(myCont).one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myCont).hide();
                    });

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myCont).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });

    </script>-->

    <!--隐藏/显示淘口令模块-->
    <!--<script>
        var myTao = $(".cat_tao_hidden");
        $(function() {
            $("#tao").click(function(event) {
                // showDiv();//调用显示DIV方法
                $(myTao).toggle();
                //$(document).one("click",
                $(myTao).one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myTao).hide();
                    });

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myTao).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });

    </script>-->
