    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />


    <!--carry--产品详情页面-->
    <div class="details">
        <img src="{$getOne.banner}" alt="" id="tao-img">
        <div class="details_info">
            <img src="{$getOne.type}" alt="">
            <span id="title">{$getOne.name|mb_substr=0,80,'utf-8'}</span>
            <div class="details_info_price">
                <p id="quan"><span>券价：</span>￥{if condition="($getOne.price-$getOne.coupon_money)<0"}0{else /}{$getOne.price-$getOne.coupon_money}{/if}</p>
                <p><span>原价：</span>￥{$getOne.price}</p>
                <p><span>销量：</span>{$getOne.sales}</p>
            </div>
            <div class="details_info_free">
                <img src="/static/index/images/free-post.png" alt="">
            </div>
        </div>

        <div class="details_vou">
            <div class="details_favour">
                <div class="details_favour_title">
                    <a href="{$getOne.coupon_extend}">领券</a>
                </div>
                <div class="details_favour_num">
                    <a href="{$getOne.coupon_extend}">￥ {$getOne.coupon_money}</a>
                </div>
            </div>
            <div class="details_bonus">
                <div class="details_bonus_title">
                    奖 金
                </div>
                <div class="details_bonus_num">
                    ￥ {$getOne.commission}
                </div>
            </div>
        </div>
        <div class="details_image">
            <i class="glyphicon glyphicon-send"></i>
            <a href="{$getOne.detail_url}">查看商品图文详情</a>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </div>
        <div class="details_image_hidden">
            图文详情
        </div>

        <div class="details_recommend">

            <h2>看看还有什么</h2>

            {foreach name="Recommend" item="r"}
                <div class="block-goods">
                    <a href="/index/goods/goodsDetails?id={$r.goods_id}" class="goods-thumbnail"><img src="{$r.banner}"></a>
                    <div class="goods-title">
                        <img src="{$r.type}">
                        <a href="/index/goods/goodsDetails?id={$r.goods_id}"><span>{$r.name|mb_substr=0,19,'utf-8'}</span></a>
                    </div>
                    <div class="goods-price">
                        <span class="price-before">券价：￥{$r.price-$r.coupon_money}</span>
                        <span class="price-after">￥{$r.price}</span>
                        <div class="price-vou">
                            <div class="vou-title">
                                <a href="/index/goods/goodsDetails?id={$r.goods_id}">领券</a>
                            </div>
                            <div class="vou-num">
                                <a href="/index/goods/goodsDetails?id={$r.goods_id}">￥ {$r.coupon_money}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}

        </div>
    </div>

    <!--联系客服-->
    <div class="cat_cont_hidden cat_comm">
        <img src="/static/index/images/kefu_weixin.png" alt="">
        <p>使用微信，扫描图中二维码，即可添加平台客服，为您解决所有问题</p>
        <div class="closed_com closed_cont">
            <i class="glyphicon glyphicon-off"></i>
        </div>
    </div>

    <!--淘口令-->
    <div class="cat_tao_hidden cat_comm">
        <!--<div class="command" id="copy-text">
            复制此文字内容，打开APP，即可获得产品优惠信息，并可购买
        </div>-->
        <textarea readonly="" id="clip_text" class="command">复制此文字内容，打开APP，即可获得产品优惠信息，并可购买</textarea>
        <button id="click-copy" onClick="copyButton()" class="copy-button">一键复制淘口令</button>
        <p><i class="glyphicon glyphicon-flag"></i> 点击"一键复制淘口令"后，请打开[淘宝]，即可购买</p>
        <p><i class="glyphicon glyphicon-flag"></i> 若点击"一键复制淘口令"失败，可长按文本框内内容或点击下方"直接领券"，即可购买</p>
        <div class="closed_com closed_tao">
            <i class="glyphicon glyphicon-off"></i>
        </div>
    </div>

    <!--Alert-Start-->
    <div class="bomb">
        <p></p>
    </div>
    <!--Alert-End-->

    <!--FOOTER-->
    <div class="details_footer">
        <ul>
            <li id="home"><a href="/"><img src="/static/index/images/home-active.png"/><span>首页</span></a></li>
            <li id="cont"><a><img src="/static/index/images/message_bg.png"/><span>客服</span></a></li>
            <li id="von"><a href="{$getOne.coupon_extend}"><img src="/static/index/images/vounther.png"/><span>直接领券</span></a></li>
            <li id="tao"><a><img src="/static/index/images/t-code.png"/><span>淘口令领券</span></a></li>
        </ul>

    </div>

    <!--图文详情隐藏/显示-->
    <script>
        var myCarry = $(".details_image_hidden");
        $(function() {
            $(".details_image").click(function(event) {
                // showDiv();//调用显示DIV方法
                $(myCarry).toggle();
                /*$(document).one("click",
                 function() { //对document绑定一个影藏Div方法
                 $(myCarry).hide();
                 });*/

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myCarry).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });
        function showDiv() {
            $(myCarry).fadeIn();
        }
    </script>

    <!--设置产品图片宽高一致-->
    <script>
        $(document).ready(function(){
            var widthEle = $(".goods-thumbnail img");
            widthEle.css("height",widthEle.width());
        });
    </script>


    <!--隐藏/显示客服模块-->
    <script>
        var myCont = $(".cat_cont_hidden");
        $(function() {
            $("#cont").click(function(event) {
                //调用显示DIV方法
                $(myCont).toggle();
                //$(document).one("click",
                $(".closed_cont").one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myCont).hide();
                    });

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myCont).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });

    </script>

    <!--隐藏/显示淘口令模块-->
    <script>
        var myTao = $(".cat_tao_hidden");
        var title = $("#title").text();
        var url = $("#von a").attr("href");
        var logo = $("#tao-img").attr("src");
        var stop = true;
        $(function() {
            $("#tao").click(function(event) {
                if(stop){
                    $.ajax({
                        url:"/index/goods/goodsDetails",
                        data:{
                            text:title,
                            url:url,
                            logo:logo
                        },
                        dataType: "json",
                        type:"post",
                        success:function(data){
                            console.log(data);
                            $(".command").append(data);//追加
                            stop = false;
                        }
                    });
                }

                //调用显示DIV方法
                $(myTao).toggle();
                //隐藏
                $('.closed_tao').one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myTao).hide();
                    });

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myTao).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });

    </script>

    <!--一键复制淘口令-->
    <script type="text/javascript">
        function copyButton() {
            var NumClip=document.getElementById("clip_text");
            var NValue=NumClip.value;
            var valueLength = NValue.length;
            selectText(NumClip, 0, valueLength);
            document.execCommand("Copy","false",null); // 执行浏览器复制命令
            showAlertAutoClose("已功功复制淘口令，快去淘宝看看吧！");
        }
        // input自带的select()方法在苹果端无法进行选择，所以需要自己去写一个类似的方法
        function selectText(obj, startIndex, stopIndex) {
            if (obj.setSelectionRange) {
                obj.setSelectionRange(startIndex, stopIndex);
            } else if (obj.createTextRange) {
                var range = obj.createTextRange();
                range.collapse(true);
                range.moveStart('character', startIndex);
                range.moveEnd('character', stopIndex - startIndex);
                range.select();
            }
            obj.focus();
        }
    </script>
