
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <!--css--JS--加载-->
    <link rel="stylesheet" href="/static/index/css/index.css"  />
    <link href="/static/swiper/css/swiper.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/swiper/js/swiper.min.js"></script>
    <!--加载--END-->

    <!----banner--轮播图片-->
    <div class="banner">
        <div class="swiper-container" id="bannerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/index/images/1.jpg"></div>

                <div class="swiper-slide"><img src="/static/index/images/2.jpg"></div>

                <div class="swiper-slide"><img src="/static/index/images/3.jpg"></div>

            </div>
        </div>
    </div>

    <!--nav--分类-->
    <div class="nav">
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=女鞋"><img src="/static/index/images/nav_1.png" alt="女鞋"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=床上用品"><img src="/static/index/images/nav_2.png" alt="床上用品"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=生活电器"><img src="/static/index/images/nav_3.png" alt="生活电器"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=女装/女士精品"><img src="/static/index/images/nav_4.png" alt="女装/女士精品"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=零食/坚果/特产"><img src="/static/index/images/nav_5.png" alt="零食/坚果/特产"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=3C数码配件"><img src="/static/index/images/nav_6.png" alt="3C数码配件"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=彩妆/香水/美妆工具"><img src="/static/index/images/nav_7.png" alt="彩妆/香水/美妆工具"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=居家日用"><img src="/static/index/images/nav_8.png" alt="居家日用"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=童鞋/婴儿鞋/亲子鞋"><img src="/static/index/images/nav_9.png" alt="童鞋/婴儿鞋/亲子鞋"></a>
        </div>
        <div class="nav-title">
            <a href="/index/goods/navCouponList?nav=男装"><img src="/static/index/images/nav_10.png" alt="男装"></a>
        </div>
    </div>

    <!--exchange--兑换-->
    <div class="exchange">
        <form method="post" action="">
            <label for="exchange_text" class="exchange-text">
                <textarea name="exchange_num" id="exchange_text" placeholder="请将“淘口令”复制到这里，精确找到你想要的商品"></textarea>
            </label>
            <label for="exchange_submit" class="exchange-submit">
                <input type="submit" value="兑" id="exchange_submit" />
            </label>
        </form>
    </div>

    <!--area--快捷专区-->
    <div class="area">
        <!--new--新券-->
        <div class="new">
            <a href="/index/goods/getAreaType?type=1"><img src="/static/index/images/new.png" alt=""></a>
        </div>
        <!--bonus--奖金券-->
        <div class="four bonus">
            <a href="/index/goods/getAreaType?type=2"><img src="/static/index/images/bonus.png" alt=""></a>
        </div>
        <!--tmall--天猫券-->
        <div class="four tmall">
            <a href="/index/goods/getAreaType?type=3"><img src="/static/index/images/tmall.png" alt=""></a>
        </div>
        <!--big--大额券-->
        <div class="four big">
            <a href="/index/goods/getAreaType?type=4"><img src="/static/index/images/big.png" alt=""></a>
        </div>
        <!--free--包邮-->
        <div class="four free">
            <a href="/index/goods/getAreaType?type=5"><img src="/static/index/images/free.png" alt=""></a>
        </div>

    </div>

    <!--floor--楼层-->
    <div class="floor">
        <!--choice--精选区-->
        <div class="choice">
            <div class="floor-title">
                <img src="/static/index/images/side_back.jpg">
                <span class="title-main">精选好券</span>
                <div class="title-vice"><span>精挑细选，只为给你好看！</span></div>
                <a href="/index/goods/perfectCouponGoodsList"><span class="title-more">More >></span></a>
            </div>

            <div class="swiper-container choice-lists" id="choiceSwiper">
                <div class="swiper-wrapper">

                    {foreach name="Perfect" item="p"}
                        <div class="swiper-slide">
                            <a href="/index/goods/goodsDetails?id={$p.goods_id}" class="goods-thumbnail"><img src="{$p.banner}"></a>
                            <div class="goods-title">
                                <img src="{$p.type}">
                                <a href="/index/goods/goodsDetails?id={$p.goods_id}"><span>{$p.name|mb_substr=0,20,'utf-8'}</span></a>
                            </div>
                            <div class="goods-price">
                                <span class="price-before">券价：￥{$p.price-$p.coupon_money}</span>
                                <span class="price-after">￥{$p.price}</span>
                                <div class="price-vou">
                                    <div class="vou-title">
                                        <a href="/index/goods/goodsDetails?id={$p.goods_id}">领券</a>
                                    </div>
                                    <div class="vou-num">
                                        <a href="/index/goods/goodsDetails?id={$p.goods_id}">￥ {$p.coupon_money}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}

                </div>
            </div>
        </div>

        <!--hoot--爆款区-->
        <div class="hoot">
            <div class="floor-title">
                <img src="/static/index/images/side_back.jpg">
                <span class="title-main">爆款牛券</span>
                <div class="title-vice"><span>大家好，才是真的好！</span></div>
                <a href="/index/goods/HotCouponGoodsList"><span class="title-more">More >></span></a>
            </div>

            <div class="swiper-container choice-lists" id="hootSwiper">
                <div class="swiper-wrapper">

                    {foreach name="Hot" item="h"}
                    <div class="swiper-slide">
                        <a href="/index/goods/goodsDetails?id={$h.goods_id}" class="goods-thumbnail"><img src="{$h.banner}"></a>
                        <div class="goods-title">
                            <img src="{$h.type}">
                            <a href="/index/goods/goodsDetails?id={$h.goods_id}"><span>{$h.name|mb_substr=0,19,'utf-8'}</span></a>
                        </div>
                        <div class="goods-price">
                            <span class="price-before">券价：￥{$h.price-$h.coupon_money}</span>
                            <span class="price-after">￥{$h.price}</span>
                            <div class="price-vou">
                                <div class="vou-title">
                                    <a href="/index/goods/goodsDetails?id={$h.goods_id}">领券</a>
                                </div>
                                <div class="vou-num">
                                    <a href="/index/goods/goodsDetails?id={$h.goods_id}">￥ {$h.coupon_money}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/foreach}

                </div>
            </div>
        </div>


    </div>

    <!--lists--产品列表-->
    <div class="lists">
        <div class="lists-title">
            <img src="/static/index/images/side_back.jpg" alt="" id="left-side">
            <span class="lists-left">好券有好礼</span>
            <span class="lists-main">优惠券</span>
            <span class="lists-right">好礼享不停</span>
            <img src="/static/index/images/side_back.jpg" alt="" id="right-side">
        </div>

        {foreach name="List" item="l"}
            <div class="lists-goods">

                <div class="lists-thumbnail">
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}">
                        <img src="{$l.banner}">
                    </a>
                </div>

                <div class="lists-goods-title">
                    <img src="{$l.type}">
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><span>{$l.name|mb_substr=0,25,'utf-8'}</span></a>
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p class="lists-goods-after">券后价：￥{$l.price-$l.coupon_money}</p></a>
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p class="lists-goods-before">原价：{$l.price}</p></a>
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p>销量：{$l.sales}</p></a>
                </div>

                <div class="lists-vou">
                    <p><span>券</span></p>
                    <P>￥ {$l.coupon_money}</P>
                </div>

            </div>
        {/foreach}

    </div>


    <!--轮播图片流动Banner——swiper-->
    <script>
        var bannerSwiper = new Swiper ('#bannerSwiper', {
            initialSlide :0,	//设定初始化时slide的索引
            autoplay: true,	//自动滑动时间（单位ms），不设置则不自动滑动
            effect:'coverflow',		//切换效果，"slide"（位移切换）（默认），"fade"（淡入），"cube"（方块），"coverflow"（3d流），"flip"（3d翻转）
            loop: true,
        });
    </script>
    <!--精选产品横滑——swipe-->
    <script>
        var choiceSwiper = new Swiper('#choiceSwiper',{
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto'
        });
    </script>
    <!--爆款产品横滑——swipe-->
    <script>
        var hootSwiper = new Swiper('#hootSwiper',{
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto'
        });
    </script>


    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->
