<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折金券</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <!--
    --apple-mobile-web-app-capable
    --safari私有meta标签
    --允许全屏模式浏览，隐藏浏览器导航栏
    -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--
    --apple-mobile-web-app-status-bar-style
    --iphone的私有标签
    --指定的iphone中safari顶端的状态条的样式
    --默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon"  href="/static/index/images/favicon.ico">


    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="/static/index/css/style.css"  />

    <script type="text/javascript" src="/static/index/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>


</head>
<body>
<!--top--顶部内容-->
<div class="top">
    <div class="logo back">
        <a href="personal.html"><img src="/static/index/images/_black.png" alt=""></a>
    </div>

    <div class="search">
        <form method="post" action="">
            <label for="keyword" class="search_input">
                <input type="text" name="keyword" class="search_text" id="keyword" placeholder="请输入要搜索的产品名称"/>
            </label>
            <label for="search_submit">
                <input type="submit" value=" " class="search_submit" id="search_submit">
            </label>
        </form>
    </div>
</div>

<!--explain_message--说明信息-->
<div class="explain_message">
    <h2>淘规则</h2>
    <div class="explain_message_info">
        <p>中国最高人民法院院长周强在当日说明中称，中国现行的人民陪审员制度，是以全国人大常委会2004年审议通过的《关于完善人民陪审员制度的决定》(以下简称《决定》)为核心，包括法院组织法以及民事、刑事、行政诉讼法相关法律规定、司法解释、政策文件所构成的制度体系。其中存在一些需要改进和完善的地方，如人民陪审员的广泛性和代表性不足，“驻庭陪审、编外法官”“陪而不审、审而不议”现象仍然存在，管理机制不健全，履职保障机制不完善等。</p>
        <img src="/static/index/images/1.jpg">
        <p>当日草案从不同角度对公民担任人民陪审员参与司法事务的管理给予充分保障。草案规定，公民有依法担任人民陪审员的权利和义务。人民陪审员依法享有参加审判活动、独立发表意见、获得履职保障等权利。人民法院应当依法保障人民陪审员参加审判活动，人民陪审员所在单位、户籍所在地或者经常居住地的基层组织应当依法保障人民陪审员参加审判活动。</p>
    </div>
</div>

<!--footer--底部导航-->
<div class="footer">
    <ul>
        <li><a href="index.html"><img src="/static/index/images/home.png"/><p>首页</p></a></li>
        <li><a href=""><img src="/static/index/images/convert.png"/><p>兑换</p></a></li>
        <li><a href=""><img src="/static/index/images/classify.png"/><p>分类</p></a></li>
        <li class="active"><a href="personal.html"><img src="/static/index/images/personal_active.png"/><p>个人</p></a></li>
    </ul>
</div>


</body>
</html>