    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />



    <!--block-goods--块状产品列表-->
    <div class="block_goods_lists">

        <!--筛选-->
        <div class="screen">
            <ul>
                <li class="screen_lists active"><a href="">综合</a></li>
                <li class="screen_lists"><a href="">价格</a></li>
                <li class="screen_lists"><a href="">优惠</a></li>
                <li class="screen_lists"><a href="">销量</a></li>
            </ul>
        </div>

        <div id="block_lists">
            {foreach name="List" item="l"}
            <div class="block-goods">
                <a href="/index/goods/goodsDetails?id={$l.goods_id}" class="goods-thumbnail"><img src="{$l.banner}"></a>
                <div class="goods-title">
                    <img src="{$l.type}">
                    <a href="/index/goods/goodsDetails?id={$l.goods_id}"><span>{$l.name|mb_substr=0,19,'utf-8'}</span></a>
                </div>
                <div class="goods-price">
                    <span class="price-before">券价：￥{$l.price-$l.coupon_money}</span>
                    <span class="price-after">￥{$l.price}</span>
                    <div class="price-vou">
                        <div class="vou-title">
                            <a href="/index/goods/goodsDetails?id={$l.goods_id}">领券</a>
                        </div>
                        <div class="vou-num">
                            <a href="/index/goods/goodsDetails?id={$l.goods_id}">￥ {$l.coupon_money}</a>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>


    </div>


    <script>
        $(function() {
            $(".screen_lists").on("click",function() {
                $(this).addClass("active").siblings().removeClass("active");
            });
        });
    </script>





    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->