<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折金券——海量【淘宝】【天猫】内部购物优惠券，还有购物礼金送</title>
    <meta name="keywords" content="" />
    <meta name="description" content="淘宝、天猫海量优惠券让你购物更省心！还有邀请好礼、购物好，惊喜享不停！！！" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="sharecontent" data-msg-img="/static/index/images/red-logo.png" data-msg-title="折金券-海量优惠券" data-msg-content="淘宝、天猫海量优惠券让你购物更省心！还有邀请好礼、购物好，惊喜享不停！！！" data-msg-callBack="" data-line-img="/static/index/images/red-logo.png" data-line-title="折金券-海量优惠券" data-line-callBack=""/>
    <!--百度验证-->
    <meta name="baidu-site-verification" content="QJMPHpbuQo" />


    <!--
    --apple-mobile-web-app-capable
    --safari私有meta标签
    --允许全屏模式浏览，隐藏浏览器导航栏
    -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--
    --apple-mobile-web-app-status-bar-style
    --iphone的私有标签
    --指定的iphone中safari顶端的状态条的样式
    --默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon"  href="/static/index/images/favicon.ico">


    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="/static/index/css/web.css"  />


    <script type="text/javascript" src="/static/index/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>
    <!--弹框提示JS-->
    <script type="text/javascript" src="/static/index/js/alertInfo.js"></script>
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent= navigator.userAgent.toLowerCase();
            var bIsIpad= sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs= sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp= sUserAgent.match(/midp/i) == "midp";
            var bIsUc7= sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc= sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid= sUserAgent.match(/android/i) == "android";
            var bIsCE= sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM= sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (!(bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)) {

            } else {
                window.location= '/';
            }
        }
        browserRedirect();//调用自身，页面一打开就开始跳转
    </script>



</head>
<body>

<div class="header">
    <img src="/static/index/images/withe-red-logo.png">
    <span>我们只做更好用的优惠券购物平台</span>
</div>
<div class="banner">
    <img src="/static/index/images/web-banner.png">
</div>
<div class="info">
    <div class="info_comm">
        <div class="info_title">
            优惠券
        </div>
        <p>
            海量"淘宝"、"天猫"购物优惠券，任你领！购物享优惠！
        </p>
    </div>
    <div class="info_comm">
        <div class="info_title">
            返利金
        </div>
        <p>
            在"折金券"平台领取任意优惠券，
            进行购物使用并在平台提供订单信息后，
            都可以得到平台为用户准备的返利金（淘币），
            即使没有优惠券，还有返利金哦！
        </p>
    </div>
    <div class="info_comm">
        <div class="info_title">
            邀请礼
        </div>
        <p>
            分享"折金券"平台，邀请好友注册并使用你的邀请码。
            好友每次领券购物后，平台都将为你准备一份邀请礼（淘币），
            是每一次都有哦！
        </p>
    </div>
    <div class="info_comm">
        <div class="info_title">
            淘币
        </div>
        <p>
            在平台获得的所有淘币都可以进行提现的哦，
            兑换的比例为1T = 1R，这可是真金白银的哦！
        </p>
    </div>
</div>
<div class="cont">
    <h1>折金券</h1>
    <p>
        在"折金券"平台领取任意优惠券，
        进行购物使用并在平台提供订单信息后，
        都可以得到平台为用户准备的返利金（淘币），
        即使没有优惠券，还有返利金哦！
        分享"折金券"平台，邀请好友注册并使用你的邀请码。
        好友每次领券购物后，平台都将为你准备一份邀请礼（淘币），
        是每一次都有哦！
    </p>
    <div class="follow">
        <img src="/static/index/images/gongz.png">
        <p>[关注公众号]</p>
    </div>
    <div class="follow">
        <img src="/static/index/images/down-app.png">
        <p>[下载安卓APP]</p>
    </div>
    <div class="follow">
        <img src="/static/index/images/web-url.png">
        <p>[进入商城]</p>
    </div>
</div>
<div class="footer">
    <div class="footer_left">
        <h3>'折金券'优惠券平台</h3>
        <p>Copyright©2018 zhejinquan.com All Rights Reserved.</p>
        <p>皖ICP备17029218号-2</p>
    </div>
    <div class="footer_right">
        <span>[ 服务 ]</span>
        <div class="footer_img">
            <img src="/static/index/images/web-url.png">
            <p>[商城]</p>
        </div>
        <div class="footer_img">
            <img src="/static/index/images/gongz.png">
            <p>[公众号]</p>
        </div>
        <div class="footer_img">
            <img src="/static/index/images/kefu_weixin.png">
            <p>[微信客服]</p>
        </div>
    </div>
</div>





</body>
</html>