<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折金券</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <!--
    --apple-mobile-web-app-capable
    --safari私有meta标签
    --允许全屏模式浏览，隐藏浏览器导航栏
    -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--
    --apple-mobile-web-app-status-bar-style
    --iphone的私有标签
    --指定的iphone中safari顶端的状态条的样式
    --默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon"  href="/static/index/images/favicon.ico">


    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="/static/index/css/style.css"  />
    <link href="/static/swiper/css/swiper.css" rel="stylesheet" />

    <script type="text/javascript" src="/static/index/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/swiper/js/swiper.min.js"></script>
    <!--弹框提示JS-->
    <script type="text/javascript" src="/static/index/js/alertInfo.js"></script>


</head>
<body>

    <!--attestation--认证-->

    <div class="attestation">
        <div class="attestation_nav">
            <div class="contentIndex active attestation_nav_com attestation_nav_left" data-index="0">登录</div>
            <div class="contentIndex attestation_nav_com attestation_nav_right" data-index="1">注册</div>
        </div>

        <div class="swiper-container" id="attestationSwiper">
            <div class="swiper-wrapper" id="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="attestation_form">
                        <form method="post" action="/index/login/login" id="login_form">
                            <label for="login_phone" class="attestation_input">
                                <span>帐号</span>
                                <input type="number" name="phone" id="login_phone" />
                            </label>
                            <label for="login_password" class="attestation_input  attestation_input_code">
                                <span>密码</span>
                                <input type="password" name="password" id="login_password" />
                            </label>

                            <label for="login_submit" class="attestation_input attestation_input_submit">
                                <input type="button" value="登录" id="login_submit" />
                            </label>

                        </form>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="spec">
                        <div class="attestation_form">
                            <form method="post" action="" id="register_form">
                                <label for="register_phone" class="attestation_input">
                                    <span>手机号码</span>
                                    <input type="number" name="phone" id="register_phone" />
                                </label>
                                <label for="register_password" class="attestation_input">
                                    <span>登录密码</span>
                                    <input type="password" name="password" id="register_password" />
                                </label>
                                <label for="register_invitation" class="attestation_input">
                                    <span>邀请码</span>
                                    <input type="text" name="p_invite" value="{$invitation}" id="register_invitation" />
                                </label>
                                <label for="register_code" class="attestation_input  attestation_input_code">
                                    <span>验证码</span>
                                    <input type="number" name="code" id="register_code" />
                                </label>
                                <span class="attestation_input_obtain">获取验证码</span>
                                <label for="register_submit" class="attestation_input attestation_input_submit">
                                    <input type="button" value="注册" id="register_submit" />
                                </label>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bomb">
        <p></p>
    </div>



    <script>
        var mySwiper = new Swiper ('#attestationSwiper', {
            initialSlide :0,	//设定初始化时slide的索引
            effect:'slide',		//切换效果，"slide"（位移切换）（默认），"fade"（淡入），"cube"（方块），"coverflow"（3d流），"flip"（3d翻转）
            autoHeight: true,
            iOSEdgeSwipeDetection : true,
            iOSEdgeSwipeThreshold:50,
            on: {
                slideChange: function () {
                    //console.log(mySwiper.activeIndex);
                    if (mySwiper.activeIndex == 0) {
                        $('.contentIndex:eq(0)').addClass('active');
                        $('.contentIndex:eq(1)').removeClass('active');
                    } else {
                        $('.contentIndex:eq(1)').addClass('active');
                        $('.contentIndex:eq(0)').removeClass('active');
                    }
                }
            }
        });

        $("#swiper-wrapper").css("height","100%");

        $('.contentIndex').click(function () {
            mySwiper.slideTo($(this).attr('data-index'));
        });
    </script>

    <script type="text/javascript">

        //短信验证
        $(function(){
            //获取短信验证码
            var validCode=true;
            $(".attestation_input_obtain").click (function () {
                var phone = $('#register_phone').val();
                if(!/^1[34578]\d{9}$/.test(phone)){
                    showAlertAutoClose("请输入正确手机号");
                    return false;
                }
                var time=120;
                var code=$(this);
                if (validCode) {
                    $.post('/index/verify/get', {type:0, phone:phone}, function(data){
                        if(data.code == 1){
                            jsonAlertAutoClose(data);
                            validCode=false;
                            code.addClass("send_obtain");
                            var t=setInterval(function () {
                                time--;
                                code.html(time+"秒");
                                if (time==0) {
                                    clearInterval(t);
                                    code.html("重新获取");
                                    validCode=true;
                                    code.removeClass("send_obtain");
                                } },1000);
                        }else{
                            jsonAlertAutoClose(data);
                        }
                    });
                }
            })
        });


        /*用户登录数据验证*/
        $("#login_submit").on('click',function() {
            var l_phone = $('#login_phone').val();
            var l_pw = $("#login_password").val();

            if (!/^1[3456789]\d{9}$/.test(l_phone)) {
                showAlertAutoClose("请输入正确手机号");
                return false;
            }
            if (l_pw.length < 6) {
                showAlertAutoClose("密码错误");
                return false;
            }

            $.ajax({
                url:"/index/login/login",
                type:"POST",
                dataType: "json",
                data:$('#login_form').serialize(),
                success:function(data){
                    jsonAlertAutoClose(data);
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });
        });

        //用户注册数据验证
        $("#register_submit").on('click',function(){
            var phone = $('#register_phone').val();
            var password = $("#register_password").val();
            var invitation = $("#register_invitation").val();
            var code = $("#register_code").val();

            if(!/^1[3456789]\d{9}$/.test(phone)){
                showAlertAutoClose("请输入正确手机号");
                return false;
            }
            if(password.length < 6 ) {
                showAlertAutoClose("密码长度不得小于6位");
                return false;
            }
            if(invitation.length != 0 && invitation.length != 6) {
                showAlertAutoClose("请与您的好友确认正确的邀请码，若无，则留空不填写");
                return false;
            }
            if(code.length != 6) {
                showAlertAutoClose("验证码有误，有确认");
                return false;
            }

            $.ajax({
                url:"/index/login/register",
                type:"POST",
                dataType: "json",
                data:$('#register_form').serialize(),
                success:function(data){
                    jsonAlertAutoClose(data);
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });



    </script>





</body>
</html>