
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <!--css--JS--引入-->
    <link rel="stylesheet" href="/static/index/css/convert.css"  />
    <!--引入--END-->

    <!--convert--兑换-->
    <div class="convert">
        <div class="convert_title">
            <p class="convert_title_left">口令：天王盖地虎</p>
            <p class="convert_title_right">回令：大家全都有</p>
            <p class="convert_title_bottom"> 将淘口令复制到兑换框搜索</br>惊喜马上就来!!!</p>
        </div>

        <div class="convert_tao">
            <form method="post" action="">
                <label for="convert-keyword" class="convert_tao_text">
                    <textarea name="keyword" id="convert-keyword" placeholder="请将“淘口令”复制到这里，精确找到你想要的商品"></textarea>
                </label>
                <label for="convert-submit" class="convert_tao_submit">
                    <input type="submit" value="兑券" id="convert-submit" />
                </label>
            </form>
        </div>
        <div class="convert_explain">
            <img src="/static/index/images/explain_icon.png" alt="">
            <a href=""><span>查看兑换券帮助说明</span></a>
        </div>
    </div>

    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->