    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />

    <!--筛选-->
    <div class="screen">
        <ul>
            <li class="screen_lists active " id="id">
                <a class="sort_list" title="desc">综合</a>
            </li>
            <li class="screen_lists" id="price-coupon_money">
                <a >价格</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <li class="screen_lists" id="coupon_money">
                <a >优惠</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <li class="screen_lists" id="sales">
                <a >销量</a>
                <div class="goods_up sort_list" title="asc"><i class="glyphicon glyphicon-menu-up"></i></div>
                <div class="goods_down sort_list" title="desc"><i class="glyphicon glyphicon-menu-down "></i></div>
            </li>
            <a href="" style="display: none" id="goodsSort"></a>
        </ul>
    </div>
    <!--<script>
        $(".sort_list").on("click",function(){
            var id = $(this).parent().attr('id');
            var url = window.location.pathname;
            var nav = $.getUrlParam('nav');
            var sort = $(this).attr('title');

            $('#goodsSort').attr('href', url+'?cond='+id+'&nav='+nav+'&sort='+sort);
            document.getElementById("goodsSort").click();
        });
    </script>-->

    <!--block-goods--条状产品列表-->
    <div class="strip_goods_lists">
        {foreach name="List" item="l"}
        <div class="strip-goods click_get">
            <div class="strip-thumbnail">
                <a href="{$l->click_url}">
                    <img src="{$l->pict_url}" class="img_url">
                </a>
            </div>
            <div class="strip-title">
                <img src="/static/index/images/t-logo-{$l->user_type}.png" class="user_type">
                <a href="{$l->click_url}"><span class="title">{$l->title|mb_substr=0,25,'utf-8'}</span></a>
                <a href="{$l->click_url}"><p class="strip-goods-after">券后价：￥<samp class="after_price">{if condition="($l->zk_final_price-$l->coupon_info)<0"}0{else /}{$l->zk_final_price-$l->coupon_info}{/if}</samp></p></a>
                <a href="{$l->click_url}"><p class="strip-goods-before">原价：￥<samp class="before_price">{$l->zk_final_price}</samp></p></a>
                <a href="{$l->click_url}"><p>销量：<samp class="vol">{$l->volume}</samp></p></a>
            </div>
            <div class="strip-vou">
                <a style="color:#fff">
                    <p><span>券</span></p>
                    <P>￥ <samp class="coupon">{$l->coupon_info}</samp></P>
                </a>
            </div>
            <div style="display:none">
                <p class="g_id">{$l->num_iid}</p>
                <p class="tao_url">{$l->click_url}</p>
                <p class="coupon_url">{$l->coupon_click_url}</p>
                <p class="item_url">{$l->item_url}</p>
                <p class="rate">{$l->tk_rate}</p>
                <p class="category">{$l->category}</p>
            </div>
        </div>
        {/foreach}

    </div>
    <div class="loadInfo" >
        上拉加载更多好东西......
    </div>

    <script>
        $(".click_get").on('click',function(){
            var g_title = $(this).find(".title").text();
            var img_url = $(this).find(".img_url").attr("src");
            var before_price = $(this).find(".before_price").text();
            var after_price = $(this).find(".after_price").text();
            var vol = $(this).find(".vol").text();
            var coupon = $(this).find(".coupon").text();
            var g_id = $(this).find(".g_id").text();
            var tao_url = $(this).find(".tao_url").text();
            var coupon_url = $(this).find(".coupon_url").text();
            var item_url = $(this).find(".item_url").text();
            var rate = $(this).find(".rate").text();
            var user_type = $(this).find(".user_type").attr("src");
            var category = $(this).find(".category").text();
            console.log(category);
           /*console.log(g_title);
           console.log(img_url);
           console.log(before_price);
           console.log(after_price);
           console.log(vol);
           console.log(coupon);
           console.log(g_id);
           console.log(tao_url);
           console.log(coupon_url);
           console.log(item_url);
           console.log(rate);*/
            window.location.href ="/index/convert/selectionDetails?goods_id="+g_id+"" +
                "&name="+g_title+"" +
                "&banner="+img_url+"" +
                "&detail_url="+item_url+"" +
                "&tao_url="+tao_url+"" +
                "&price="+before_price+"" +
                "&coupon_price="+after_price+"" +
                "&sales="+vol+"" +
                "&ratio="+rate+"" +
                "&type="+user_type+"" +
                "&coupon_money="+coupon+"" +
                "&coupon_url="+coupon_url+""+
                "&category="+category+"";
        });
    </script>



    <script>
        $(function() {
            $(".screen_lists").on("click",function() {
                $(this).addClass("active").siblings().removeClass("active");
            });
        });

    </script>

    <!--上拉加载更多-->
    <script>
        var page =1;
        var addNum = 20;
        var stop=true;//触发开关，防止多次调用事件
        $(window).scroll( function(event){
            //当内容滚动到底部时加载新的内容 1 为距离底部多少像素时，触发加载操作，可自行修改
            if ($(this).scrollTop() + $(window).height() + 6 >= $(document).height() && $(this).scrollTop() > 6) {
                //加载中提示信息
                var loadInfo = $(".loadInfo");
                loadInfo.html('Loding…');
                if(!stop){
                    return false;
                }
                stop = false;
                //获取URL中数据
                var id = $.getUrlParam('id');

                //追加页数
                page += 1;

                console.log(id);

                $.ajax({
                    url:"/index/convert/selectionList",
                    data:{
                        id:id,
                        startNum:page,
                        addNum:addNum
                    },
                    dataType: "json",
                    type:"get",
                    success:function(data){
                        if( data == '' ) {
                            loadInfo.html('——我们的底线已经暴露给你了——');
                            return;
                        }
                        $(".strip_goods_lists").append(data);//追加
                        var widthEle = $(".goods-thumbnail img");
                        widthEle.css("height",widthEle.width());
                        loadInfo.html('上拉加载更多好东西......');
                        stop=true;
                    }
                });
            }
        });
    </script>


    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->