<!--header--引入-->
{include file="default/header_back" /}
<!--header--END-->

<link rel="stylesheet" href="/static/index/css/personal.css"  />

<!--order_verify--订单审核-->
<div class="order_verify">
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>
    <div class="verify_block">
        <div class="verify_title">
            <span>订单号：20171225182102142</span>
        </div>
        <div class="verify_message">
            <div class="verify_img">
                <img src="/static/index/images/goods.jpg" alt="">
            </div>
            <div class="verify_message_info">
                <span>法兰零卡宣一草味女士精品香水 法国进口 纯天然植物萃取</span>
                <p>优惠券：￥50</p>
                <p>奖励金：￥500</p>
            </div>
            <div class="finish_state state_com">
                <p>已完成</p>
            </div>
        </div>
        <div class="verify_time">
            <p>提交时间：2017/12/25 18:21:23</p>
        </div>
    </div>

</div>


<!--footer--引入-->
{include file="default/footer" /}
<!--footer--END-->