<!--header--引入-->
{include file="default/header_back" /}
<!--header--END-->

<link rel="stylesheet" href="/static/index/css/personal.css"  />

<!--order_verify--订单审核-->
<div class="order_verify">
    {if condition="$Verify"}
        {foreach name="Verify" item="V"}
            <div class="verify_block">
                <div class="verify_title">
                    <span>提交时间：{$V.create_time}</span>
                </div>
                <div class="verify_message">
                    <div class="verify_img">
                        <i class="glyphicon glyphicon-leaf"></i>
                    </div>
                    <div class="verify_message_info">
                        <span>订单号</span>
                        <p>{$V.order_id}</p>
                    </div>
                    <div class="verify_state state_com">
                        <p>审核中</p>
                    </div>
                </div>
                <div class="verify_time">
                    <p><i class="glyphicon glyphicon-screenshot"></i> 您的订单信息正在审核中，感谢您对平台的信任</p>
                </div>
            </div>
        {/foreach}
    {else /}
        <div class="no_data">
            <img src="/static/index/images/no-bg.png">
        </div>
    {/if}


</div>


<!--footer--引入-->
{include file="default/footer" /}
<!--footer--END-->