<!--header--引入-->
{include file="default/header_back" /}
<!--header--END-->

<link rel="stylesheet" href="/static/index/css/personal.css"  />

<!--order-push--订单提交-->
<div class="order_push">
    <div class="order_push_form">
        <form method="post" action="">
            <label for="order_push_num" class="order_push_input">
                <input type="text" name="number" id="order_push_num"  placeholder="请将淘宝购物订单编号复制到这里进行提交"/>
            </label>
            <label for="order_push_submit" class="order_push_input order_push_input_submit">
                <input type="submit" value="提交订单" id="order_push_submit" />
            </label>
        </form>
    </div>

    <div class="order_push_info">
        <p><i class="glyphicon glyphicon-off"></i> 奖励规则：提交您通过本平台复制淘口令下单购买的商品订单号，您将可以拿到由平台发放的平台使用奖励金。</p>
        <p class="info_bottom cat_bonus"><i class="glyphicon glyphicon-fire"></i> 如何查看平台奖励金？</p>
        <p class="info_bottom cat_order"><i class="glyphicon glyphicon-fire"></i> 如何获取淘宝订单号？</p>
    </div>

    <div class="cat_bonus_hidden cat_comm">
        <p>打开折金券平台任意或指定产品详情页面，即可以页面中查看到在平台领取优惠券，并使用优惠券购物后所得到的平台奖励金金额</p>
        <img src="/static/index/images/push-bonus.jpg" alt="">
    </div>

    <div class="cat_order_hidden cat_comm">
        <p>打开淘宝购物软件，在“我的订单”中找到您所需查看订单号的订单，并查看订单详情，在详情页面的下半部分，即可查看到该订单的订单编号</p>
        <img src="/static/index/images/push-tao.jpg" alt="">
    </div>

</div>



<script>
    var myBonus = $(".cat_bonus_hidden");
    $(function() {
        $(".cat_bonus").click(function(event) {
            // showDiv();//调用显示DIV方法
            $(myBonus).toggle();
            //$(document).one("click",
            $(myBonus).one("click",
                function() { //对document绑定一个影藏Div方法
                    $(myBonus).hide();
                });

            event.stopPropagation(); //阻止事件向上冒泡
        });
        $(myBonus).click(function(event) {

            event.stopPropagation(); //阻止事件向上冒泡
        });
    });
    function showDiv() {
        $(myBonus).fadeIn();
    }
</script>

<script>
    var myOrder = $(".cat_order_hidden");
    $(function() {
        $(".cat_order").click(function(event) {
            // showDiv();//调用显示DIV方法
            $(myOrder).toggle();
            $(myOrder).one("click",
                function() { //对document绑定一个影藏Div方法
                    $(myOrder).hide();
                });

            event.stopPropagation(); //阻止事件向上冒泡
        });
        $(myOrder).click(function(event) {

            event.stopPropagation(); //阻止事件向上冒泡
        });
    });
    function showDiv() {
        $(myOrder).fadeIn();
    }
</script>




<!--footer--引入-->
{include file="default/footer" /}
<!--footer--END-->