    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />



    <!--carry--提现-->
    <div class="carry">
        <div class="carry_title">
            <div class="carry_title_left">
                <span>拥有淘币</span>
            </div>
            <div class="carry_title_right">
                <span>{$Carry.balance}</span>
                <img src="/static/index/images/carry_explain.png" alt="" class="carry_show">
            </div>
        </div>
        <div class="carry_explain">
            <p> 淘币与人民币的兑换比例为1：1，即一淘币可以兑换一元人民币。</p>
            <p> 兑换淘币时需求获取短信验证码（手机号码为注册时该帐号所认证括手机号码），以此来保证操作用户的帐户资金安全。</p>
        </div>
        <div class="carry_form">
            <form method="post" action="" id="carry_form">
                <input type="hidden" name="uid" value="{$Carry.id}" id="carry_uid" />
                <label for="carry_num" class="carry_input">
                    <span>兑换数</span>
                    <input type="text" name="money" id="carry_num" min="1"/>
                </label>
                <label for="carry_alipay" class="carry_input">
                    <span>支付宝</span>
                    <input type="text" name="alipay" id="carry_alipay" />
                </label>
                <label for="carry_phone" class="carry_input carry_input_phone">
                    <span>手机号</span>
                    <input type="text" name="phone" id="carry_phone" value="{$Carry.phone}" readonly/>
                </label>
                <span class="carry_input_obtain">获取验证码</span>
                <label for="carry_code" class="carry_input">
                    <span>验证码</span>
                    <input type="text" name="code" id="carry_code" />
                </label>
                <label for="carry_submit" class="carry_input carry_input_submit">
                    <input type="button" value="开始兑换" id="carry_submit" />
                </label>

            </form>
        </div>

    </div>


    <!--显示隐藏提示信息-->
    <script>
        var myCarry = $(".carry_explain");
        $(function() {
            $(".carry_show").click(function(event) {
                // showDiv();//调用显示DIV方法
                $(myCarry).toggle();
                $(document).one("click",
                    function() { //对document绑定一个影藏Div方法
                        $(myCarry).hide();
                    });

                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myCarry).click(function(event) {

                event.stopPropagation(); //阻止事件向上冒泡
            });
        });
        function showDiv() {
            $(myCarry).fadeIn();
        }
    </script>

    <!--短信验证-->
    <script>
        //短信验证
        $(function(){
            //获取短信验证码
            var validCode=true;
            $(".carry_input_obtain").click (function () {
                var phone = $('#carry_phone').val();
                if(!/^1[34578]\d{9}$/.test(phone)){
                    showAlertAutoClose("请输入正确手机号");
                    /*layer.msg('请输入正确的手机号', {
                     icon: 2,
                     time: 2000
                     });*/
                    return false;
                }
                var time=120;
                var code=$(this);
                if (validCode) {
                    $.post('/index/verify/get', {type:2, phone:phone}, function(){
                        validCode=false;
                        code.addClass("send_obtain");
                        var t=setInterval(function () {
                            time--;
                            code.html(time+"秒");
                            if (time==0) {
                                clearInterval(t);
                                code.html("重新获取");
                                validCode=true;
                                code.removeClass("send_obtain");
                            } },1000);
                    });
                }
            })
        });
    </script>

    <!--用户提现数据验证-->
    <script>
        $("#carry_submit").on('click',function(){
            var uid = $('#carry_uid').val();
            var money = $('#carry_num').val();
            var alipay = $("#carry_alipay").val();
            var phone = $("#carry_phone").val();
            var code = $("#carry_code").val();

            if(uid == null){
                showAlertAutoClose("数据信息错误，请重新操作");
                return false;
            }
            if(!(/^(\+|-)?\d+$/.test( money )) || money<=0) {
                showAlertAutoClose("兑换淘币需为大于0的正整数");
                return false;
            }
            if(alipay.length < 3){
                showAlertAutoClose("请输入正确的支付宝账户");
                return false;
            }
            if(!/^1[3456789]\d{9}$/.test(phone)){
                showAlertAutoClose("请输入正确手机号");
                return false;
            }
            if(!(/^(\+|-)?\d+$/.test( code )) || code.length != 6) {
                showAlertAutoClose("验证码有误，有确认");
                return false;
            }

            $.ajax({
                url:"/index/carry/carryApply",
                type:"POST",
                dataType: "json",
                //data:'phone:phone,password:password,invitation:invitation,code:code',
                data:$('#carry_form').serialize(),
                success:function(data){
                    jsonAlertAutoClose(data)
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

        });
    </script>



    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->