    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />

    <!--friends--好友-->
    <div class="friends">
        <div class="friends_list">
            <div class="friends_message">
                <img src="/static/index/images/goods.jpg" class="head" alt="">
                <div class="friends_info">
                    <h2>言不由忠</h2>
                    <p>ID：T6Y7U8</p>
                    <p>勋：王者荣耀</p>
                </div>
                <img src="/static/index/images/open.png" class="open" alt="">
            </div>
            <div class="friends_bonus">
                <span>奖金：￥200.00</span>
            </div>
        </div>

        <div class="friends_list">
            <div class="friends_message">
                <img src="/static/index/images/goods.jpg" class="head" alt="">
                <div class="friends_info">
                    <h2>言不由忠</h2>
                    <p>ID：T6Y7U8</p>
                    <p>勋：王者荣耀</p>
                </div>
                <img src="/static/index/images/open.png" class="open" alt="">
            </div>
            <div class="friends_bonus">
                <span>奖金：￥200.00</span>
            </div>
        </div>
    </div>


    <!--friends--点击展开-->
    <script type="text/javascript">
        var message = $(".friends .friends_message");
        var bonus = $(".friends .friends_bonus");
        /*bonus.eq(0).show();*/
        message.click(function () {
            bonus.hide();
            $(this).next().show();
        });
    </script>



    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->