    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />

    <!--friends--好友-->
    <div class="friends">
        {foreach name="FriendsInfo" item="F"}
            <div class="friends_list">
                <div class="friends_message">
                    <img src="{$F.portrait}" class="head" alt="">
                    <div class="friends_info">
                        <h2>{$F.user_name}</h2>
                        <p>ID：{$F.invite}</p>
                        <p>勋：{$F.grade}</p>
                    </div>
                    <img src="/static/index/images/open.png" class="open" alt="">
                </div>
                <div class="friends_bonus">
                    <span>奖金：￥{$F.t_money|round=###,2}</span>
                </div>
            </div>
        {/foreach}
    </div>


    <!--friends--点击展开-->
    <script type="text/javascript">
        var message = $(".friends .friends_message");
        var bonus = $(".friends .friends_bonus");
        message.click(function () {
            bonus.hide();
            $(this).next().show();

        });
    </script>



    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->