    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />



    <!--Info--个人信息-->
    <div class="info">

        <div class="info_portrait info_comm">
            <div class="info_title">
                头像
            </div>
            <div class="info_content info_img">
                <img src="{$Info.portrait}" alt="">
            </div>
            <div class="info_edit"></div>
        </div>

        <div class="info_comm">
            <div class="info_title" id="user_name">
                昵称
            </div>
            <div class="info_content">
                {$Info.user_name}
            </div>
            <div class="info_edit info_click">
                <img src="/static/index/images/edit-bg.png" alt="">
            </div>
        </div>

        <div class="info_comm">
            <div class="info_title">
                邀请码
            </div>
            <div class="info_content">
                {$Info.invite}
            </div>
            <div class="info_edit"></div>
        </div>

        <div class="info_comm">
            <div class="info_title">
                手机号
            </div>
            <div class="info_content">
                {$Info.phone}
            </div>
            <div class="info_edit"></div>
        </div>

        <div class="info_comm">
            <div class="info_title">
                等级
            </div>
            <div class="info_content">
                {$Info.grade}
            </div>
            <div class="info_edit"></div>
        </div>

        <div class="info_comm">
            <div class="info_title">
                积分
            </div>
            <div class="info_content">
                {$Info.integral}
            </div>
            <div class="info_edit"></div>
        </div>

        <div class="info_comm">
            <div class="info_title" id="alipay">
                支付宝
            </div>
            <div class="info_content">
                {$Info.alipay}
            </div>
            <div class="info_edit info_click">
                <img src="/static/index/images/edit-bg.png" alt="" class="info_edit_show">
            </div>
        </div>

        <div class="info_comm">
            <div class="info_title" id="real_name">
                真实姓名
            </div>
            <div class="info_content">
                {$Info.real_name}
            </div>
            <div class="info_edit info_click">
                <img src="/static/index/images/edit-bg.png" alt="" class="info_edit_show">
            </div>
        </div>

        <div class="info_hidden">
            <div class="hidden_title">
            </div>
            <form method="post" action="" id="info_form">
                <input type="hidden" name="id" value="{$Info.id}"/>
                <label for="info_input" class="hidden_input">
                    <input type="text" name="" placeholder="" id="info_input"/>
                </label>
                <label for="info_cancel" class="hidden_button">
                    <input type="button" value="取消" id="info_cancel"/>
                </label>
                <label for="info_confirm" class="hidden_button">
                    <input type="button" value="确认" id="info_confirm"/>
                </label>
            </form>

        </div>

    </div>



    <!--显示隐藏提示信息-->
    <script>
        var myInfo = $(".info_hidden");     //显示或隐藏的DIV
        var myCancel = $("#info_cancel");   //隐藏/取消  事件
        var myConfirm = $("#info_confirm");   //确认/提交  事件
        $(function() {
            $(".info_click").click(function(event) {

                var hiddenTitle = $(this).prev().prev().text();
                var hiddenName = $(this).prev().prev().attr('id');
                var hiddenContent= $(this).prev().text();
                $('.hidden_title').text($.trim(hiddenTitle));
                $('#info_input').attr({
                    'name':hiddenName,
                    'placeholder':$.trim(hiddenContent)
                });

                // showDiv();//调用显示DIV方法
                $(myInfo).fadeToggle();


                event.stopPropagation(); //阻止事件向上冒泡
            });
            $(myInfo).click(function(event) {
                event.stopPropagation(); //阻止事件向上冒泡
            });
        });
        function showDiv() {
            $(myInfo).fadeIn();
        }

        //确认/提交
        $(myConfirm).on("click", function() {
            var confirmCont = $('#info_input').val();
            if($.trim(confirmCont) == ''){
                //showAlertAutoClose("提交信息有误，请重新操作");
                $('#info_input').val('');
                $(myInfo).fadeOut();
                return false;
            }
            console.log('ok');
            $.ajax({
                url:"/index/info/infoEdit",
                type:"POST",
                dataType: "json",
                //data:'phone:phone,password:password,invitation:invitation,code:code',
                data:$('#info_form').serialize(),
                success:function(data){
                    jsonAlertAutoClose(data)
                },
                error:function () {
                    showAlertAutoClose("网络错误，请重试...");
                }
            });

            event.stopPropagation(); //阻止事件向上冒泡
        });

        //取消/隐藏
        $(myCancel).on("click", function() {
            //对document绑定一个影藏Div方法
            /*$(myInfo).hide();*/
            $('#info_input').val('');
            $(myInfo).fadeOut();

            event.stopPropagation(); //阻止事件向上冒泡
        });

    </script>





    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->