    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />

    <!--collect--邀请好友-->
    <div class="invite">
        <div class="invite_id">
                <img src="/static/index/images/invite_bg.png" alt="">
                <p class="invite_num"><span >{$invitation.invite}</span></p>
                <p class="invite_sub"><a onClick="copyButton()"><span >马上邀请</span></a></p>
        </div>
        <div class="invite_share">
            <textarea readonly="" id="clip_text" class="share_text">www.haochebiao.com/index/login/share?invitation={$invitation.invite}</textarea>
        </div>
        <div class="invite_rule">
            <h2>邀请说明</h2>
            <div class="rule_info">
                <p><i class="glyphicon glyphicon-euro"></i> 已在平台注册用户并生成专属邀请码用户，可邀请好友。</p>
                <p><i class="glyphicon glyphicon-euro"></i> 将邀请码、邀请链接分享给好友，并好友在注册时使用邀请码，则系统自动生成邀请记录。</p>
                <p><i class="glyphicon glyphicon-euro"></i> 邀请注册的好友，在平台领取使用优惠券购物后，平台将为邀请人发放邀请奖金。</p>
                <p><i class="glyphicon glyphicon-euro"></i> 邀请奖金为平台独立发放，不影响好友购物奖金。</p>
                <p><i class="glyphicon glyphicon-euro"></i> 邀请奖金为长久制，即一次邀请，被邀请人每次使用优惠券购物后，邀请人都可得到奖金。</p>
            </div>
        </div>
    </div>

    <!--一键复制邀请地址-->
    <script type="text/javascript">
        function copyButton() {
            var NumClip=document.getElementById("clip_text");
            var NValue=NumClip.value;
            var valueLength = NValue.length;
            selectText(NumClip, 0, valueLength);
            document.execCommand("Copy","false",null); // 执行浏览器复制命令
            showAlertAutoClose("已功功复制邀请地址，快去分享给好友吧！");
        }
        // input自带的select()方法在苹果端无法进行选择，所以需要自己去写一个类似的方法
        function selectText(obj, startIndex, stopIndex) {
            if (obj.setSelectionRange) {
                obj.setSelectionRange(startIndex, stopIndex);
            } else if (obj.createTextRange) {
                var range = obj.createTextRange();
                range.collapse(true);
                range.moveStart('character', startIndex);
                range.moveEnd('character', stopIndex - startIndex);
                range.select();
            }
            obj.focus();
        }
    </script>



    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->