    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />



    <!--notice--通知-->
    <div class="notice">
        {foreach name="Notice" item="N"}
            <div class="notice_block">
                <div class="notice_info">
                    <div class="notice_title">
                        {$N.title}
                    </div>
                    <div class="notice_content">
                        {$N.content}
                    </div>
                    <div class="notice_date">
                        {$N.create_time}
                    </div>
                </div>
            </div>
        {/foreach}

    </div>


    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->