    <!--header--引入-->
    {include file="default/header_back" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/personal.css"  />



    <!--notice--通知-->
    <div class="notice">
        {foreach name="Notice" item="N"}
            <div class="notice_block">
                <div class="notice_info">
                    <div class="notice_title">
                        {$N.title}
                    </div>
                    <div class="notice_content">
                        {$N.content}
                    </div>
                    <div class="notice_date">
                        {$N.create_time}
                    </div>
                </div>
            </div>
        {/foreach}

        <div class="notice_block">
            <div class="notice_info">
                <div class="notice_title">
                    信息内容的标题
                </div>
                <div class="notice_content">
                    这是一个测试信息内容的正文内容信息页面，内容仅供参考这是一个测试信息内容的正文内容信息页面，内容仅供参考
                </div>
                <div class="notice_date">
                    2017-12-31
                </div>
            </div>
        </div>

        <div class="notice_block">
            <div class="notice_info">
                <div class="notice_title">
                    信息内容的标题
                </div>
                <div class="notice_content">
                    这是一个测试信息内容的正文内容信息页面，内容仅供参考这是一个测试信息内容的正文内容信息页面，内容仅供参考 这是一个测试信息内容的正文内容信息页面，内容仅供参考这是一个测试信息内容的正文
                </div>
                <div class="notice_date">
                    2017-12-31
                </div>
            </div>
        </div>

    </div>


    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->