
    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <!--css--JS--引入-->
    <link rel="stylesheet" href="/static/index/css/personal.css"  />
    <!--引入--END-->

    <!--message--用户信息-->
    <div class="message">
        <div class="message-top">
            <div class="portrait">
                <img src="{$User.portrait}" alt="">
            </div>
            <div class="name">
                <p><span>{$User.user_name}</span></p>
                <p>ID：{$User.invite}</p>
                <P>勋：{$User.grade}</P>
            </div>
        </div>
        <div class="set">
            <a href="/index/info/info" class="set-left"><img src="/static/index/images/set.png" alt=""></a>
            <a href="/index/notice/notice" class="set-right"><img src="/static/index/images/message.png" alt=""></a>
        </div>
    </div>

    <!--money--帐户余额-->
    <div class="money">
        <div class="gold">
            <div class="gold-title">
                <span>淘币</span>
            </div>
            <div class="gold-num">
                <span>{$User.balance}</span>
            </div>
        </div>

        <div class="rule">
            <div class="rule-comm">
                <a href="/index/message/index?type=1">淘规则</a>
            </div>
            <div class="rule-comm">
                <a href="/index/carry/index">提淘币</a>
            </div>
        </div>
    </div>

    <!--order--订单信息-->
    <div class="order">
        <h2>订单</h2>
        <div class="order-state">
            <a href="/index/order/orderPush"><img src="/static/index/images/ti.png" alt=""></a>
            <a href="/index/order/orderVerify"><img src="/static/index/images/dai.png" alt=""></a>
            <a href="/index/order/orderFinish"><img src="/static/index/images/cheng.png" alt=""></a>
        </div>
    </div>

    <!--so--搜索-->
    <div class="so">
        <form method="get" action="/index/search/searchApi" id="search_form">
            <label for="so-keywords" class="so-input-label">
                <input type="text" name="keyword" id="so-keywords" class="so-input" placeholder="请输入要搜索的产品名称" />
            </label>
            <label for="so_submit" class="so-submit-label">
                <input type="submit" value=" " class="so-submit" id="so_submit">
            </label>
        </form>
    </div>

    <script>
        $("#so_submit").on('click',function(){
            var key = $("#so-keywords").val();

            if(key == ''){
                showAlertAutoClose("请输入您要搜索的产品关键字...");
                return false;
            }
        });
    </script>

    <!--funct--功能版块-->
    <div class="fun">
        <!--<div class="fun-sect">
            <a href="collection.html">我的收藏</a>
        </div>-->
        <div class="fun-sect">
            <a href="/index/invitation/invitation">邀请好友</a>
        </div>
        <!--<div class="fun-sect">
            <a href="test.html">每日签到</a>
        </div>-->
        <div class="fun-sect">
            <a href="/index/friends/friends">我的好友</a>
        </div>
        <div class="fun-sect">
            <a href="/index/talking/talking">我要吐槽</a>
        </div>
        <div class="fun-sect">
            <a href="/index/message/index?type=3">关于我们</a>
        </div>
    </div>

    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->