    <!--header--引入-->
    {include file="default/header" /}
    <!--header--END-->

    <link rel="stylesheet" href="/static/index/css/goods.css"  />


    <!--block-goods--条状产品列表-->
    <div class="strip_goods_lists">
        {foreach name="List" item="l"}
        <div class="strip-goods">
            <div class="strip-thumbnail">
                <a href="/index/goods/goodsDetails?id={$l.goods_id}">
                    <img src="{$l.banner}">
                </a>
            </div>
            <div class="strip-title">
                <img src="{$l.type}">
                <a href="/index/goods/goodsDetails?id={$l.goods_id}"><span>{$l.name|mb_substr=0,25,'utf-8'}</span></a>
                <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p class="strip-goods-after">券后价：￥{$l.price-$l.coupon_money}</p></a>
                <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p class="strip-goods-before">原价：￥{$l.price}</p></a>
                <a href="/index/goods/goodsDetails?id={$l.goods_id}"><p>销量：{$l.sales}</p></a>
            </div>
            <div class="strip-vou">
                <p><span>券</span></p>
                <P>￥ {$l.coupon_money}</P>
            </div>
        </div>
        {/foreach}

    </div>



    <!--footer--引入-->
    {include file="default/footer" /}
    <!--footer--END-->