
<!--上传文件引入文件-->
<link rel="stylesheet" type="text/css" href="/static/plugin/aoupload/css/globle.css" />
<script src="/static/plugin/aoupload/js/webuploader.min.js"></script>
<script src="/static/plugin/aoupload/js/diyUpload.js"></script>

<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header>
                        <i class="fa fa-fw fa-file"></i>新建选品图
                        <a href="#/favorites/bannerList"><i class="fa fa-fw fa-arrow-left" style="float:right;margin:10px 30px 0 0"></i></a>
                    </header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="/admin/favorites/favoritesAdd" data-sendingText="正在为您积极努力的去提交信息。。。" data-validate="validate">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">标题</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="标题" name="title" >
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">选品库ID</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" placeholder="选品库ID" name="f_id"  >
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">选品库名称</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="选品库名称" name="f_name" >
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">选品排序</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" placeholder="数字越大越靠前（1-100）" name="sort" >
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">状态</label>
                                            <div class="col-sm-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="state" value="1" checked="checked"/> 启用
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="state" value="0" /> 关闭
                                                    </label>
                                                </div>

                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">缩略图</label>
                                            <div class="col-sm-6">
                                                <div style="text-align:center;">
                                                    <ul class="upload-ul clearfix">
                                                        <li class="upload-pick">
                                                            <div class="webuploader-container clearfix" id="imgUpload"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="col-sm-4 help-block">尺寸：640*360</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>

<!--图片上传JS脚本-->
<script>
    //上传图片
    var $tgaUpload = $('#imgUpload').diyUpload({
        //url:'/admin/file_upload/uploader',
        buttonText : '',
        //类型限制;
        accept: {
            title: "Images",
            extensions: 'jpg,jpeg,png'
        },
        //配置生成缩略图的选项
        thumb:{
            width:50,
            height:50,
            quality:100,
            allowMagnify:true,
            crop:true,
            type:"image/jpeg"      // 为空的话则保留原有图片格式。 否则强制转换成指定的类型(image/jpeg)。
        },
        swf:"/static/plugin/aoupload/Uploader.swf",
        //是否支持多文件上传
        multiple:false,
        //设置为 true 后，不需要手动调用上传，有文件选择即开始上传
        auto:true,
        //文件上传方式,POST或者GET
        method:"POST",
        //服务器地址;
        server:'/admin/file_upload/uploader',
        //最大上传的文件数量
        fileNumLimit:1,
        //总文件大小(单位字节);
        fileSizeLimit:500000 * 1024,
        //单个文件大小(单位字节);
        fileSingleSizeLimit:50000 * 1024,
        //自定义内容信息
        custom:{
            inputName:'thumbnail',
            //input加入ID，只适用于单个上传图片
            inputId:'img_id'
        },
        success:function( data ) {
        },
        error:function( err ) { }
    });

</script>



<script>
    /*数据验证JS脚本*/
    function callback1(returnData, $from) {
        console.log($from);
    }
    function validate($from) {
        var title = $from.find('input[name="title"]');
        var fid = $from.find('input[name="f_id"]');
        var fname = $from.find('input[name="f_name"]');
        var thumbnail = $from.find('input[name="thumbnail"]');
        var sort = $from.find('textarea[name="sort"]');
        if ($.trim(title.val()) == '') {
            return '选品图标题不能为空且长度不得大于10个字';
        }

        if ($.trim(fid.val()) == '' && !isNaN($.trim(fid.val()))) {
            return '选品库ID不能为空且选品库ID为数字';
        }

        if ($.trim(fname.val()) == '') {
            return '选品库名称不能为空且长度不得大于10个字';
        }

        if ($.trim(thumbnail.val()) == '') {
            return '缩略图不能为空';
        }



        return true;
    }
</script>

