    <!--Alert-Start-->
    <div class="bomb">
        <p></p>
    </div>
    <!--Alert-End-->

    <!--footer-STATER-->
    <div class="footer">
        <ul>
            <li class="select active"><a href="/"><img src="/static/index/images/home-active.png"/><p>首页</p></a></li>
            <li class="select"><a href="/index/convert/convert"><img src="/static/index/images/convert.png"/><p>兑换</p></a></li>
            <li class="select"><a href="/index/login/attestation"><img src="/static/index/images/classify.png"/><p>分类</p></a></li>
            <li class="select"><a href="/index/personal/personal"><img src="/static/index/images/personal.png"/><p>个人</p></a></li>
        </ul>
    </div>

    <!--<script>
            $(".select").on("click",function(){
                $(this).addClass("active").sibling().removeAttr("active");
            });
    </script>-->

</body>
</html>

    <!--footer--END-->