<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折金券</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <!--
    --apple-mobile-web-app-capable
    --safari私有meta标签
    --允许全屏模式浏览，隐藏浏览器导航栏
    -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--
    --apple-mobile-web-app-status-bar-style
    --iphone的私有标签
    --指定的iphone中safari顶端的状态条的样式
    --默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon"  href="/static/index/images/favicon.ico">


    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="/static/index/css/style.css"  />

    <script type="text/javascript" src="/static/index/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>
    <!--弹框提示JS-->
    <script type="text/javascript" src="/static/index/js/alertInfo.js"></script>
    <script type="text/javascript" src="/static/index/js/public.js"></script>


</head>
<body>
    <!--top--顶部内容-->
    <div class="top">
        <div class="logo back">
            <a href="{$Think.server.HTTP_REFERER}"><img src="/static/index/images/_black.png" alt=""></a>
        </div>

        <div class="search">
            <form method="post" action="/index/search/searchApi" id="search_form">
                <label for="keyword" class="search_input">
                    <input type="text" name="keyword" class="search_text" id="keyword" placeholder="请输入要搜索的产品名称"/>
                </label>
                <label for="search_submit">
                    <input type="submit" value=" " class="search_submit" id="search_submit">
                </label>
            </form>
        </div>
    </div>

    <script>
        $("#search_submit").on('click',function(){
            var key = $("#keyword").val();

            if(key == ''){
                showAlertAutoClose("请输入您要搜索的产品关键字...");
                return false;
            }

        });
    </script>


<!--header_back--END-->