<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折金券——海量【淘宝】【天猫】内部购物优惠券，还有购物礼金送</title>
    <meta name="keywords" content="" />
    <meta name="description" content="淘宝、天猫海量优惠券让你购物更省心！还有邀请好礼、购物好，惊喜享不停！！！" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="sharecontent" data-msg-img="/static/index/images/red-logo.png" data-msg-title="折金券-海量优惠券" data-msg-content="淘宝、天猫海量优惠券让你购物更省心！还有邀请好礼、购物好，惊喜享不停！！！" data-msg-callBack="" data-line-img="/static/index/images/red-logo.png" data-line-title="折金券-海量优惠券" data-line-callBack=""/>



    <!--
    --apple-mobile-web-app-capable
    --safari私有meta标签
    --允许全屏模式浏览，隐藏浏览器导航栏
    -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--
    --apple-mobile-web-app-status-bar-style
    --iphone的私有标签
    --指定的iphone中safari顶端的状态条的样式
    --默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）
    -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/x-icon"  href="/static/index/images/favicon.ico">


    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css"  />
    <link rel="stylesheet" href="/static/index/css/style.css"  />

    <script type="text/javascript" src="/static/index/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>
    <!--弹框提示JS-->
    <script type="text/javascript" src="/static/index/js/alertInfo.js"></script>
    <!--<script>
        window.location.href = /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? "http://web.zhe.com" :  "http://web.zhe.com/index/index/web";
    </script>-->
    <script type="text/javascript">
        function browserRedirect() {
            var sUserAgent= navigator.userAgent.toLowerCase();
            var bIsIpad= sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs= sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp= sUserAgent.match(/midp/i) == "midp";
            var bIsUc7= sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc= sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid= sUserAgent.match(/android/i) == "android";
            var bIsCE= sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM= sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {

            } else {
                window.location= '/index/index/web';
            }
        }
        browserRedirect();//调用自身，页面一打开就开始跳转
    </script>


</head>
<body>

    <div style="display:none">
        <img src="http://www.zhejinquan.com/static/index/images/red-logo.png" alt="折金券">
    </div>
    <!--top--顶部内容-->
    <div class="top">
        <div class="logo">
            <img src="/static/index/images/logo.png" alt="">
        </div>

        <!--搜索-->
        <div class="search">
            <form method="get" action="/index/search/searchApi" id="search_form">
                <label for="keyword" class="search_input">
                    <input type="text" name="keyword" class="search_text" id="keyword" placeholder="请输入要搜索的产品名称"/>
                </label>
                <label for="search_submit">
                    <input type="submit" value=" " class="search_submit" id="search_submit">
                </label>
            </form>
        </div>
    </div>

    <script>
        $("#search_submit").on('click',function(){
            var key = $("#keyword").val();

            if(key == ''){
                showAlertAutoClose("请输入您要搜索的产品关键字...");
                return false;
            }
        });
    </script>



    <!--header--END-->